<div style="text-align: center; height: auto; padding:1px; text-transform:capitalize; background-color:#42a5f5; color:white">
	<h1 style="margin-bottom: 5px;">
		<a style="text-decoration: none; color:white;" href="/">{{.Template}} Template - {{.Kind}}</a>
	</h1>

	<nav style="padding: 15px 0;">
		<a style="text-decoration: none; color:white; margin: 0 15px; font-size: 16px;" href="/">Главная</a>
		<a style="text-decoration: none; color:white; margin: 0 15px; font-size: 16px;" href="/about/">О компании</a>
	</nav>
</div>
