{{ partial "head" (dict "Kind" "Page" "Template" "About") }}

{{ partial "header" (dict "Kind" "Page" "Template" "About") }}

<div class="container">
    <div class="about-content">
        <h1>
            {{ .Title }}
        </h1>
        {{ if .Params.image }}
        <div class="cover">
            {{- $img := .Params.image | strings.TrimPrefix "/" -}}
            <img src="{{ $img | relURL }}" alt="{{ .Title }}">
        </div>
        {{ end }}
        <div class="content-body">
            {{ .Content }}
        </div>

    </div>
</div>
{{ partial "reviews" . }}

{{ partial "footer" . }}
</body>

</html>
