{{ partial "head" (dict "Kind" "Home" "Template" "Home") }}

{{ partial "header" (dict "Kind" "Home" "Template" "Home") }}

<div class="container">
    <h1>Все посты</h1>

    <div class="posts-grid">
        {{ range where .Site.RegularPages "Section" "posts" }}
        <div style="border: 1px solid black; margin:10px; padding:10px; ">
            {{ if .Params.image }}
            <div class="thumb">
                {{- $img := .Params.image | strings.TrimPrefix "/" -}}
                <img src="{{ $img | relURL }}" alt="{{ .Title }}">
            </div>
            {{ end }}
            <div style="font-size:20px;">
                <a href="{{ .RelPermalink }}">{{.Title}}</a>
            </div>
            <p style="font-size:18px;">{{.Summary}}</p>
            <div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
        </div>
        {{ end }}
    </div>
</div>

{{ partial "footer" . }}
</body>

</html>
